.korelev {
	font-family: korolev-rounded, sans-serif;
	font-style: normal;
	font-weight: 500;
}

.ibm-plex-sans {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings: "wdth" 20;
}

.rubik {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: italic;
}

.quicksand {
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: none;
	font-weight: 480;
	font-style: normal;
	line-height: 1.3em;
}
