/* ====== RESPONSIVIDADE ====== */

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
}

/* Smartphones grandes (até 768px) */
@media (max-width: 768px) {
	html,
	body {
		background-image: url("../img/bck-grnd-rhema.png");
		background-size: contain; /* ajusta pro tamanho da tela */
		background-attachment: scroll; /* evita bug no mobile */
	}

	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		gap: 2%;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		right: 10%;
	}

	.rotating-container {
		top: 8%;
		left: 10%;
		width: 20%;
		height: 46%;
	}

	.circle-text span {
		display: flex;
		text-align: center;
		justify-content: center;
		transform-origin: 2px 60px; /* define o raio */
	}

	.lgr img {
		width: 60%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.conteiner-carrossel img {
		width: 60%;
		height: auto;
	}

	.box_shdw-crrsl {
		box-shadow: inset #000000 5px -10px 30px, inset #000000 -5px -10px 30px;
	}

	/** animação de texto  */

	.container-info {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.etapa-resposive {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	/** animations  */

	.etapa-resposive .text-etapas-extra {
		opacity: 0;
		justify-content: space-between;
		transform: translateX(20px);
		transition: all 0.2s ease-out;
	}

	.text-etapas-extra.visivel {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.8s ease-in;
	}

	/*! setas etapa  */
	.seta-etapas {
		display: flex;
		margin: 12px 0 0 140px;
		z-index: 0;
	}

	.etapa-resposive .seta-etapas {
		justify-content: space-between;
		transform: translateX(-150px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas.visivel {
		opacity: 1;
		transform: translateX(0);
	}

	/** animations  */

	.text-etapas-extra {
		color: white;
		font-family: "Korolev", sans-serif;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		width: 290px;
		height: auto;
		border-radius: 5px;
		z-index: 1;
		margin-left: 10px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 40px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	.instagram,
	.youtube {
		bottom: 14%;
	}

	.instagram {
		top: auto;
		left: 10%;
		width: 5%;
	}

	.youtube {
		top: auto;
		left: 18%;
		width: 7%;
	}
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 90%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1.8rem);
		margin-bottom: 5%;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 431px) {
	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		gap: 2%;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		right: 10%;
	}

	.rotating-container {
		top: 8%;
		left: 10%;
		width: 20%;
		height: 46%;
	}

	.circle-text span {
		display: flex;
		text-align: center;
		justify-content: center;
		transform-origin: 2px 60px; /* define o raio */
	}

	.lgr img {
		width: 60%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.conteiner-carrossel img {
		width: 60%;
		height: auto;
	}

	.box_shdw-crrsl {
		box-shadow: inset #000000 5px -10px 30px, inset #000000 -5px -10px 30px;
	}

	/** animação de texto  */

	.container-info {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.etapa-resposive {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	/** animations  */

	.etapa-resposive .text-etapas-extra {
		opacity: 0;
		justify-content: space-between;
		transform: translateX(20px);
		transition: all 0.2s ease-out;
	}

	.text-etapas-extra.visivel {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.8s ease-in;
	}

	/*! setas etapa  */
	.seta-etapas {
		display: flex;
		margin: 12px 0 0 140px;
		z-index: 0;
	}

	.etapa-resposive .seta-etapas {
		justify-content: space-between;
		transform: translateX(-150px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas.visivel {
		opacity: 1;
		transform: translateX(0);
	}

	/** animations  */

	.text-etapas-extra {
		color: white;
		font-family: "Korolev", sans-serif;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		width: 290px;
		height: auto;
		border-radius: 5px;
		z-index: 1;
		margin-left: 10px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 40px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	.instagram,
	.youtube {
		bottom: 14%;
	}

	.instagram {
		top: auto;
		left: 10%;
		width: 5%;
	}

	.youtube {
		top: auto;
		left: 18%;
		width: 7%;
	}
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 90%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1.8rem);
		margin-bottom: 5%;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 381px) {
	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		gap: 2%;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		right: 10%;
	}

	.rotating-container {
		top: 8%;
		left: 10%;
		width: 20%;
		height: 46%;
	}

	.circle-text span {
		display: flex;
		text-align: center;
		justify-content: center;
		transform-origin: 2px 60px; /* define o raio */
	}

	.lgr img {
		width: 60%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.conteiner-carrossel img {
		width: 60%;
		height: auto;
	}

	.box_shdw-crrsl {
		box-shadow: inset #000000 5px -10px 30px, inset #000000 -5px -10px 30px;
	}

	/** animação de texto  */

	.container-info {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.etapa-resposive {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	/** animations  */

	.etapa-resposive .text-etapas-extra {
		opacity: 0;
		justify-content: space-between;
		transform: translateX(20px);
		transition: all 0.2s ease-out;
	}

	.text-etapas-extra.visivel {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.8s ease-in;
	}

	/*! setas etapa  */
	.seta-etapas {
		display: flex;
		margin: 12px 0 0 140px;
		z-index: 0;
	}

	.etapa-resposive .seta-etapas {
		justify-content: space-between;
		transform: translateX(-150px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas.visivel {
		opacity: 1;
		transform: translateX(0);
	}

	/** animations  */

	.text-etapas-extra {
		color: white;
		font-family: "Korolev", sans-serif;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		width: 290px;
		height: auto;
		border-radius: 5px;
		z-index: 1;
		margin-left: 10px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 40px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	.instagram,
	.youtube {
		bottom: 14%;
	}

	.instagram {
		top: auto;
		left: 10%;
		width: 5%;
	}

	.youtube {
		top: auto;
		left: 18%;
		width: 7%;
	}
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 90%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1.8rem);
		margin-bottom: 5%;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}
