/* ====== RESPONSIVIDADE ====== */

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
	
}

/* Smartphones grandes (até 768px) */
@media (max-width: 980px) {
	html,
	body {
		width: 120%;
		max-width: 110%;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		flex-direction: column;
	}

	.video section video,
	.imagem1 img,
	.hvv img,
	.mgcx img,
	.uts img {
		width: 98%;
	}

	/** header */

	header {
		width: 100%;
		display: flex;
		padding: 0;
		justify-content: center;
		margin: auto;
		border-bottom: 1px solid #383737;
		color: rgb(255, 255, 255);
	}

	header img {
		position: relative;
		height: auto;
		justify-content: center;
		align-items: center;
		max-width: 200px;
	}

	.img-seg {
		display: none;
	}

	header p {
		display: none;
	}

	/** header */

	/*? ########### section ###########  */
	/** video */
	.video video {
		width: 100%;
		justify-content: center;
	}
	/** video */
	/*? ########### section ###########  */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */
	body .imagem1 {
		justify-content: center;
		align-items: center;
		left: 16%;
	}

	.textoimg1 {
		position: relative;
		left: -40%;
		transform: none;

		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 0.9rem;
		}
	}

	.rotating-container {
		top: 35%;
		left: 1%;
		width: 90px;
		height: 90px;
	}

	.lgr {
		left: 50%;
		top: 65%;
		width: 30px;
		height: 30px;
	}

	.circle-text {
		width: 100%;
		height: 135%;
		font-size: 9px;
	}

	.circle-text span {
		left: 50%;
		transform-origin: 0 60px; /* define o raio */
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.carrossel {
		max-width: 100%;
		box-sizing: border-box;
	}

	.etapas {
		flex-direction: column;
		align-items: center;
	}

	.etapas {
		right: -100px;
	}

	.texto-etapa {
		width: 70%;
		font-size: 15px;
		text-align: center;
	}

	.carrossel {
		height: 80%;
	}

	.carrossel .faixa img {
		width: 50%;
	}

	.box_shdw-crrsl {
		width: 121%;
		height: 19.2%;
		box-shadow: inset #1b1b1b 20px 0 30px, inset #000000 -20px 0 30px;
	}

	/** animação de texto  */

	.container-info {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.etapas-extra {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.etapa-resposive {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	/** animations  */

	.text-etapas-extra {
	}

	.etapa-resposive .text-etapas-extra {
		opacity: 0;
		justify-content: space-between;
		transform: translateX(20px);
		transition: all 0.2s ease-out;
	}

	.text-etapas-extra.visivel {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.8s ease-in;
	}

	/*! setas etapa  */
	.seta-etapas {
		display: flex;
		margin: 12px 0 0 180px;
		z-index: 0;
	}

	.etapa-resposive .seta-etapas {
		justify-content: space-between;
		transform: translateX(-150px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas.visivel {
		opacity: 1;
		transform: translateX(0);
	}

	/** animations  */

	.text-etapas-extra {
		color: white;
		font-family: "Poppins", sans-serif;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		width: 280px;
		height: 130px;
		border-radius: 5px;
		z-index: 1;
		margin-left: 10px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.hvv {
		margin-top: 90px;
	}

	/*? ########### section ###########  */

	.caixa {
		width: 100%;
		height: 25%;
		border-radius: 40px;
		padding: 20px;
	}

	.caixa h1 {
		left: 80px;
		font-size: 24px;
	}

	.caixa img {
		height: 50px;
		width: 310px;
		top: 20%;
		left: 60%;
		transform: translate(-50%, -50%);
	}

	.imsf {
		height: 100%;
		width: 150%;
	} 
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		max-width: 90%;
		margin: 0 0 8% 5%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1rem);
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

/* Smartphones pequenos (até 480px) */
@media (max-width: 480px) {
	body {
		background-size: cover;
	}

	header {
		padding: 15px;
	}

	.video section video {
		width: 100%;
	}

	.imagem1 img,
	.hvv img,
	.mgcx img,
	.uts img {
		width: 100%;
	}

	.textoimg1 h2 {
		font-size: 1.8rem;
	}

	.textoimg1 p {
		font-size: 0.9rem;
	}

	.circle-text {
		font-size: 9px;
		letter-spacing: 1.5px;
	}

	.carrossel {
		height: 120px;
	}

	.faixa img {
		width: 33.3%;
	}

	.texto-etapa {
		font-size: 12px;
		width: 85%;
	}

	.caixa {
		border-radius: 25px;
		padding: 15px;
	}

	.caixa h1 {
		font-size: 18px;
	}

	.whatsapp-float {
		right: 10px;
		bottom: 10px;
		width: 44px;
		height: 44px;
	}
}
