/* ====== RESPONSIVIDADE ====== */

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
}

/* Smartphones grandes (até 768px) */
@media (max-width: 900px) {
	html,
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		width: 100%;
		max-width: 100%;
	}

	.imagem1 img,
	.hvv img,
	.mgcx img,
	.uts img {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		justify-content: center;
	}

	header img {
		position: relative;
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.img-logo {
		width: 60%;
		height: auto;
	}

	.img-seg {
		display: none;
	}

	header p {
		display: none;
	}

	/** header */

	/*? ########### section ###########  */
	/** video */
	.video video {
		width: 100%;
		justify-content: center;
	}
	/** video */
	/*? ########### section ###########  */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.imagem1 .img-primary {
		width: 110%;
		height: auto;
	}

	.imagem1 {
		transform: scale(0.98);
		transform-origin: top center;
	}

	.textoimg1 {
		left: 68%;

		h2 {
			font-size: clamp(1.8rem, 5vw, 2rem);
		}

		p {
			font-size: clamp(1rem, 2.5vw, 1rem);
		}
	}

	.rotating-container {
		top: 33%;
		left: 17%;
		width: 90px;
		height: 90px;
	}

	.lgr {
		left: 53%;
		top: 69%;
		width: 30px;
		height: 30px;
	}

	.circle-text {
		width: 100%;
		height: 135%;
		font-size: 9px;
	}

	.circle-text span {
		left: 50%;
		transform-origin: 0 60px; /* define o raio */
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		font-size: 130%;
	}

	.carrossel {
		width: 100%;
		height: auto;
	}

	.conteiner-carrossel img {
		width: 50%;
		height: auto;
	}

	.box_shdw-crrsl {
		width: 100%;
		height: 19.2%;
		box-shadow: inset #000000 20px 0 30px, inset #000000 -20px 0 30px;
	}

	/** animação de texto  */

	.container-info {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.etapa-resposive {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	/** animations  */

	.etapa-resposive .text-etapas-extra {
		opacity: 0;
		justify-content: space-between;
		transform: translateX(20px);
		transition: all 0.2s ease-out;
	}

	.text-etapas-extra.visivel {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.8s ease-in;
	}

	/*! setas etapa  */
	.seta-etapas {
		display: flex;
		margin: 12px 0 0 140px;
		z-index: 0;
	}

	.etapa-resposive .seta-etapas {
		justify-content: space-between;
		transform: translateX(-150px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas.visivel {
		opacity: 1;
		transform: translateX(0);
	}

	/** animations  */

	.text-etapas-extra {
		color: white;
		font-family: "Korolev", sans-serif;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		width: 290px;
		height: auto;
		border-radius: 5px;
		z-index: 1;
		margin-left: 10px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.hvv {
		margin-top: 90px;
	}

	/*? ########### section ###########  */

	.caixa {
		width: 78%;
		height: 18%;
		border-radius: 40px;
		padding: 20px;
	}

	.caixa h1 {
		left: 15%;

		font-size: 100%;
	}

	.caixa img {
		height: auto;
		width: 220px;
		top: 10%;
		left: 56%;
		transform: translate(-50%, -50%);
	}

	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		max-width: 90%;
		margin: 0 0 8% 5%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1rem);
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

/* Smartphones pequenos (até 480px) */
@media (max-width: 480px) {
	body {
		background-size: cover;
	}

	header {
		padding: 15px;
	}

	.video section video {
		width: 100%;
	}

	.imagem1 img,
	.hvv img,
	.mgcx img,
	.uts img {
		width: 100%;
	}

	.textoimg1 h2 {
		font-size: 1.8rem;
	}

	.textoimg1 p {
		font-size: 0.9rem;
	}

	.circle-text {
		font-size: 9px;
		letter-spacing: 1.5px;
	}

	.carrossel {
		height: 120px;
	}

	.faixa img {
		width: 33.3%;
	}

	.texto-etapa {
		font-size: 12px;
		width: 85%;
	}

	.caixa {
		border-radius: 25px;
		padding: 15px;
	}

	.caixa h1 {
		font-size: 18px;
	}

	.whatsapp-float {
		right: 10px;
		bottom: 10px;
		width: 44px;
		height: 44px;
	}
}

@media (max-width: 450px) {
	/*? ########### section ###########  */
	.video video {
		width: 110%;
	}
	/*? ########### section ###########  */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */
	.imagem1 {
		transform: scale(1.02);
		transform-origin: top center;
	}

	.textoimg1 {
		left: 68%;

		h2 {
			font-size: clamp(1rem, 5vw, 2rem);
		}

		p {
			font-size: clamp(0.8rem, 2vw, 1rem);
		}
	}

	.circle-text {
		width: 30%;
		height: 30%;
		top: 45%;
		left: 38%;
		font-size: 7px;
		display: flex;
	}

	.circle-text span {
		top: -130%;
		left: 46%;
		transform-origin: 0 50px; /* define o raio */
	}

	.lgr {
		left: 53%;
		top: 60%;
	}

	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		margin-bottom: 0;
	}

	.text-imgs-lpg h1 {
		margin-top: 0;
		margin-left: 8px;
		margin-bottom: 40px;
		font-size: 240%;
	}

	.carrossel {
		width: 100%;
		height: auto;
	}

	.conteiner-carrossel img {
		width: 65%;
		height: auto;
	}

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	/** animations  */

	.etapa-resposive {
		margin-bottom: 10px;
	}

	/*! setas etapa  */
	.seta-etapas {
		margin: 12px 0 0 100px;
	}

	/** animations  */

	.text-etapas-extra {
		font-size: 17px;
		width: 260px;
		height: auto;
	}

	.text-etapas-extra h3,
	p {
		margin: 0;
		margin-bottom: 3%;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		transform: scale(1.08);
		transform-origin: top center;
		width: 78%;
		height: 18%;
		border-radius: 25px;
	}

	.caixa h1 {
		left: 13%;
		font-size: clamp(1rem, 3vw, 2rem);
	}

	.caixa img {
		height: auto;
		width: 57%;
		top: 10%;
		left: 56%;
	}


	/*? ########### section ###########  */
}
