/* ====== RESPONSIVIDADE ====== */

/* Tablets (até 1024px) */
@media (max-width: 1025px) {
	html,
	body {
		background-image: url("../img/bck-grnd-rhema.png");
		background-size: contain; /* ajusta pro tamanho da tela */
		background-attachment: scroll; /* evita bug no mobile */
	}

	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 80%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		gap: 12%;
	}

	header img {
		width: 18%;
		height: auto;
	}

	header p {
		width: auto;
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		top: 48%;
		right: 12%;
		line-height: 0.7;
		h2 {
			font-size: clamp(1.6rem, 4vw, 3rem);
		}

		p {
			font-size: clamp(1.25rem, 2vw, 3rem);
		}
	}

	.rotating-container {
		top: 8%;
		left: 10%;
		width: 22%;
		height: 40%;
	}

	.lgr img {
		width: 50%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg h1 {
		font-size: clamp(4rem, 4vw, 3.6rem);
	}

	.conteiner-carrossel img {
		width: 60%;
		height: auto;
	}

	.box_shdw-crrsl {
		box-shadow: inset #000000 5px -10px 30px, inset #000000 -5px -10px 30px;
	}

	/*? ########### section ###########  */

	.etapas {
		margin-left: 70px;
		gap: 30px;
	}

	.etapa {
		width: 220px;
		gap: 20px;
	}

	.text-etapas h3,
	p {
		width: 170px;
		height: auto;
		font-size: clamp(1rem, 2vw, 1.1rem);
	}

	.seta-etapas {
		margin: 0 0 0 40px;
	}

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 70%;
		height: 80%;
		border-radius: 40px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	.instagram,
	.youtube {
		bottom: 13%;
	}

	.instagram {
		top: auto;
		left: 17%;
		width: 4%;
	}

	.youtube {
		top: auto;
		left: 24%;
		width: 6%;
	}
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1.8rem);
		margin-bottom: 2%;
		width: 100%;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 900px) {
	/** ajuste de posicionamento da sections mobile "Nosso processos"  */

	.container-info {
		max-width: 100%;
		align-items: center;
		justify-content: center;
	}

	.extra-info {
		padding: 0;
	}

	.extra-info img {
		width: 100%;
		height: auto;
	}

	.seta-etapas-resonsive {
		display: block;
		width: 100%;
		height: auto;
	}

	/** animations  */

	.etapa-resposive .seta-etapas-resonsive {
		justify-content: space-between;
		transform: translatey(-20px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas-resonsive.visivel {
		opacity: 1;
		transform: translatey(0);
	}

	/** animations  */
}

/* Smartphones grandes (até 768px) */
@media (max-width: 770px) {
	html,
	body {
		background-image: url("../img/bck-grnd-rhema.png");
		background-size: contain; /* ajusta pro tamanho da tela */
		background-attachment: scroll; /* evita bug no mobile */
	}

	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		gap: 2%;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		top: 45%;
		right: 8%;
		line-height: 0.7;
		h2 {
			font-size: clamp(1.6rem, 3vw, 3rem);
		}

		p {
			font-size: clamp(1rem, 2vw, 3rem);
		}
	}

	.rotating-container {
		top: 5%;
		left: 5%;
		width: 20%;
		height: 40%;
	}

	.lgr img {
		width: 50%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.conteiner-carrossel img {
		width: 60%;
		height: auto;
	}

	.box_shdw-crrsl {
		box-shadow: inset #000000 5px -10px 30px, inset #000000 -5px -10px 30px;
	}

	/** animação de texto  */

	.container-info {
		max-width: 100%;
		align-items: center;
		justify-content: center;
	}

	.extra-info {
		padding: 0;
	}

	.extra-info img {
		width: 100%;
		height: auto;
	}

	.seta-etapas-resonsive {
		display: block;
		width: 100%;
		height: auto;
	}

	/** animations  */

	.etapa-resposive .seta-etapas-resonsive {
		justify-content: space-between;
		transform: translatey(-20px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas-resonsive.visivel {
		opacity: 1;
		transform: translatey(0);
	}

	/** animations  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 40px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	.instagram,
	.youtube {
		bottom: 14%;
	}

	.instagram {
		top: auto;
		left: 10%;
		width: 5%;
	}

	.youtube {
		top: auto;
		left: 18%;
		width: 7%;
	}
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 90%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1.8rem);
		margin-bottom: 5%;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 431px) {
	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		height: 80px;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		top: 45%;
		h2 {
			font-size: clamp(1.3rem, 3vw, 5rem);
		}
		p {
			font-size: clamp(0.8rem, 3vw, 4rem);
		}
	}

	.lgr img {
		width: 50%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		margin-bottom: 40px;
	}

	.text-imgs-lpg h1 {
		font-size: clamp(2.8rem, 4vw, 3.6rem);
	}

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	/** animação de texto  */
	/** animations  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 30px;
		gap: 10px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 100%;
	}

	.footer p {
		width: 98%;
		font-size: clamp(0.9rem, 2vw, 1.8rem);
		margin-bottom: 0;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 20px;
		bottom: 20px;
		width: 60px;
		height: 60px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 341px) {
	/** header */

	header {
		height: 70px;
	}

	/** header */

	/*? ########### section ###########  */
	.container-video video {
		padding-bottom: 15%;
	}
	/*? ########### section ###########  */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		top: 45%;
		right: 8%;
		line-height: 0.7;
		h2 {
			font-size: clamp(1rem, 2vw, 0.4rem);
			margin-bottom: 5px;
		}

		p {
			font-size: clamp(0.6rem, 2vw, 0.4rem);
		}
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		margin-bottom: 40px;
	}
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		margin-left: 10px;
	}

	.text-imgs-lpg h1 {
		font-size: clamp(2rem, 4vw, 3.6rem);
	}

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	/** animação de texto  */

	/* Botão */
	.toggle-info {
		width: 240px;
		font-size: clamp(0.8rem, 2vw, 0.4rem);
	}

	/** animations  */

	.text-etapas-extra {
		font-size: clamp(0.8rem, 2vw, 1rem);
		font-weight: 500;
		text-align: center;
		margin: 0;
		width: 280px;
		height: 100px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 30px;
	}

	.caixa h1 {
		margin-left: 12%;
	}

	.caixa img {
		width: 55%;
		height: auto;
	}

	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 100%;
	}

	.footer p {
		font-size: clamp(0.8rem, 2vw, 1.8rem);
		margin-bottom: 0;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 20px;
		bottom: 20px;
		width: 60px;
		height: 60px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}
