/* ====== RESPONSIVIDADE ====== */

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
}

/* Smartphones grandes (até 768px) */
@media (max-width: 770px) {
	html,
	body {
		background-image: url("../img/bck-grnd-rhema.png");
		background-size: contain; /* ajusta pro tamanho da tela */
		background-attachment: scroll; /* evita bug no mobile */
	}

	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		display: flex;
		gap: 2%;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		right: 10%;
	}

	.textoimg1 {
		top: 45%;
		right: 8%;
		line-height: 0.7;
		h2 {
			font-size: clamp(2.2rem, 3vw, 3rem);
		}

		p {
			font-size: clamp(1.4rem, 2vw, 3rem);
		}
	}

	.rotating-container {
		top: 5%;
		left: 5%;
		width: 20%;
		height: 40%;
	}

	.circle-text span {
		top: -94%;
		left: 52%;
		font-size: clamp(0.2rem, 1.8vw, 0.8rem);
		transform-origin: 2px 70px; /* define o raio */
	}

	.lgr img {
		width: 60%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.conteiner-carrossel img {
		width: 60%;
		height: auto;
	}

	.box_shdw-crrsl {
		box-shadow: inset #000000 5px -10px 30px, inset #000000 -5px -10px 30px;
	}

	/** animação de texto  */

	.container-info {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.etapa-resposive {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	/** animations  */

	.etapa-resposive .text-etapas-extra {
		opacity: 0;
		justify-content: space-between;
		transform: translateX(20px);
		transition: all 0.2s ease-out;
	}

	.text-etapas-extra.visivel {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.8s ease-in;
	}

	/*! setas etapa  */
	.seta-etapas {
		display: flex;
		margin: 12px 0 0 140px;
		z-index: 0;
	}

	.etapa-resposive .seta-etapas {
		justify-content: space-between;
		transform: translateX(-150px);
		transition: all 0.6s ease-out;
		opacity: 0;
	}

	.seta-etapas.visivel {
		opacity: 1;
		transform: translateX(0);
	}

	/** animations  */

	.text-etapas-extra {
		color: white;
		font-family: "Korolev", sans-serif;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		width: 100%;
		height: auto;
		border-radius: 5px;
		z-index: 1;
		margin-left: 10px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 40px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	.instagram,
	.youtube {
		bottom: 14%;
	}

	.instagram {
		top: auto;
		left: 10%;
		width: 5%;
	}

	.youtube {
		top: auto;
		left: 18%;
		width: 7%;
	}
	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 90%;
	}

	.footer p {
		font-size: clamp(1.2rem, 2vw, 1.8rem);
		margin-bottom: 5%;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 40px;
		bottom: 40px;
		width: 80px;
		height: 80px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 431px) {
	.container-video video,
	.imgUm-ltrGir img,
	.container-img-dois img,
	.container-img-tres img,
	.container-rf .img-princ {
		width: 94%;
		height: auto;
	}

	/** header */

	header {
		height: 80px;
	}

	header img {
		width: 26%;
		height: auto;
	}

	header p {
		display: flex;
	}

	p strong {
		font-weight: 900;
	}

	/** header */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		top: 40%;
		h2 {
			font-size: clamp(1.4rem, 4vw, 4rem);
		}
		p {
			font-size: clamp(0.88rem, 3vw, 4rem);
		}
	}

	.rotating-container {
		left: 5%;
		width: 25%;
		height: 46%;
	}

	.circle-text span {
		top: -120%;
		left: 40%;
		font-size: clamp(0.6rem, 1.8vw, 1rem);
		transform-origin: 2px 45px; /* define o raio */
	}

	.lgr img {
		width: 50%;
		height: auto;
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		margin-bottom: 40px;
	}
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	/** animação de texto  */
	/** animations  */

	/*! setas etapa  */
	.seta-etapas {
		margin: auto;
	}
	/** animations  */

	.text-etapas-extra {
		font-size: clamp(1rem, 2vw, 1.8rem);
		width: 100%;
		height: 120px;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 30px;
		gap: 10px;
	}
	.caixa img {
		width: 50%;
		height: auto;
		margin-top: 0;
	}

	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 100%;
	}

	.footer p {
		width: 98%;
		font-size: clamp(0.9rem, 2vw, 1.8rem);
		margin-bottom: 0;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 20px;
		bottom: 20px;
		width: 60px;
		height: 60px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}

@media (max-width: 341px) {
	/** header */

	header {
		height: 70px;
	}

	/** header */

	/*? ########### section ###########  */
	.container-video video {
		padding-bottom: 15%;
	}
	/*? ########### section ###########  */

	/*? ########### section ###########  */
	/** imagem com a animação de redemoinho */

	.textoimg1 {
		top: 45%;
		right: 8%;
		line-height: 0.7;
		h2 {
			font-size: clamp(1rem, 2vw, 0.4rem);
			margin-bottom: 5px;
		}

		p {
			font-size: clamp(0.6rem, 2vw, 0.4rem);
		}
	}

	.rotating-container {
		width: 26%;
		height: 48%;
	}

	.circle-text span {
		top: -122%;
		left: 40%;
		transform-origin: 2px 40px; /* define o raio */
	}
	/** imagem com a animação de redemoinho */
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.text-imgs-lpg {
		margin-bottom: 40px;
	}
	/*? ########### section ###########  */

	/*? ########### section ###########  */

	/** animação de texto  */

	/* Botão */
	.toggle-info {
		width: 240px;
		font-size: clamp(0.8rem, 2vw, 0.4rem);
	}

	/** animations  */

	.text-etapas-extra {
		font-size: clamp(0.8rem, 2vw, 1rem);
		font-weight: 500;
		text-align: center;
		margin: 0;
		width: 280px;
		height: 100px;
	}

	.text-etapas-extra h3,
	p {
		margin: 10px;
		text-align: left;
	}
	/** animação de texto  */

	/*? ########### section ###########  */

	/*? ########### section ###########  */

	.caixa {
		width: 80%;
		height: 80%;
		border-radius: 30px;
	}

	.caixa h1 {
		margin-left: 12%;
	}

	.caixa img {
		width: 55%;
		height: auto;
	}

	/*? ########### section ###########  */

	/*? ########### footer ###########  */

	.footer-container {
		width: 100%;
	}

	.footer p {
		font-size: clamp(0.8rem, 2vw, 1.8rem);
		margin-bottom: 0;
	}

	/*? ########### footer ###########  */

	.whatsapp-float {
		right: 20px;
		bottom: 20px;
		width: 60px;
		height: 60px;
	}

	.whatsapp-float svg {
		width: 59%;
		height: 59%;
	}
}
