.container-info {
  margin-top: 15px;
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* Conteúdo extra oculto por padrão no mobile */
.extra-info {
  display: none;
  width: 100%;
  margin-top: 10px;
  background: #363636;
  padding: 20px 15px;
  border-radius: 8px;
  
}

.texto-etapa.extra-info {
  text-align: left;
  font-size: 16px;
}

/* Botão */
.toggle-info {
  display: none;
  background: #3f3f3f;
  color: white;
  font-size: 18px;
  border: none;
  width: 340px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: #d3d3d3 -1px 0px 10px -1px;
}

.seta-etapas {
  right: 500px;
}


.etapa .seta-etapas {
	justify-content: space-between;
	transform: translateX(-100px);
	transition: all 0.6s ease-out;
  opacity: 0;
}

.seta-etapas.visivel {
	opacity: 1;
	transform: translateX(0);
}

/* Só mostra o botão no celular */
@media (max-width: 880px) {
  .toggle-info {
    display: inline-block;
  }

  .esconder-etapas {
    display: none;
  }

  header p {
    display: none;
  }
}
