* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(/assets/img/bck-grnd-rhema.png);
	overflow-x: hidden;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	height: 130px;
	border-bottom: 1px solid #383737;
	color: rgb(255, 255, 255);
}

header img {
	position: absolute;
	left: -200px;
	height: 500px;
}

header p {
	position: absolute;
	left: 745px;
}

.icons {
	height: 30px;
}

header .icons {
	position: absolute;
	left: 1055px;
}

/*? ############# section ############# */
.video {
	display: flex;
	justify-content: center;
	padding: 30px;
	height: auto;
	background-color: #000000;
}

section video {
	width: 1000px;
	height: auto;
	border-radius: 10px;
}
/*? ############# section ############# */

/*? ############# section ############# */
.imagem1 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.imagem1 img {
	width: 1000px;
	height: auto;
	border-radius: 10px;
	display: block;
}

.textoimg1 {
	position: absolute;
	color: white;
	text-align: right;
	top: 55%;
	left: 68%;
	transform: translate(-50%, -50%);
	font-family: "Anton", Verdana, Geneva, Tahoma, sans-serif;
}

.textoimg1 h2 {
	font-size: 3.2rem;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 900;
	text-transform: uppercase;
}

/* subtítulo */
.textoimg1 p {
	font-size: 1.2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
}

.textoimg1 strong {
	font-weight: bold;
}

.imagem1 img {
	width: 1000px;
	height: auto;
	border-radius: 10px;
}

.lgr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
}

.lgr img {
	max-width: 60px;
	border-radius: 0;
}

.rotating-container {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 200px;
	height: 200px;
	transform: translate(-50%, -50%);
}

/* TEXTO EM CÍRCULO */
.circle-text {
	position: absolute;
	font-weight: bolder;
	width: 100%;
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size: 14px;
	animation: spin 10s linear infinite; /* animação girando */
}

.circle-text span {
	position: absolute;
	top: 0;
	left: 50%;
	transform-origin: 0 100px;
}

/* 13 letras/elementos igualmente espaçados em 360° */
.circle-text span:nth-child(1) {
	transform: rotate(0deg);
}
.circle-text span:nth-child(2) {
	transform: rotate(27.7deg);
}
.circle-text span:nth-child(3) {
	transform: rotate(55.4deg);
}
.circle-text span:nth-child(4) {
	transform: rotate(83.1deg);
}
.circle-text span:nth-child(5) {
	transform: rotate(110.8deg);
}
.circle-text span:nth-child(6) {
	transform: rotate(138.5deg);
}
.circle-text span:nth-child(7) {
	transform: rotate(166.2deg);
}
.circle-text span:nth-child(8) {
	transform: rotate(193.9deg);
}
.circle-text span:nth-child(9) {
	transform: rotate(221.6deg);
}
.circle-text span:nth-child(10) {
	transform: rotate(249.3deg);
}
.circle-text span:nth-child(11) {
	transform: rotate(277deg);
}
.circle-text span:nth-child(12) {
	transform: rotate(304.7deg);
}
.circle-text span:nth-child(13) {
	transform: rotate(332.4deg);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*? ############# section ############# */


/*? ############# section ############# */
.container-imgs-lpg {
	display: grid;
	width: 100%;
	height: 500px;
	/* margin-bottom: 120px; */
	margin-top: 60px;
}

.text-imgs-lpg {
	margin-bottom: 80px;
	color: white;
	font-size: 26px;
	left: 10px;
	font-weight: bolder;
}

.text-imgs-lpg h1 {
	margin-top: 80px;
}

.carrossel {
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	
}

.box_shdw-crrsl {
	position: absolute;
	width: 100%;
	height: 180px;
	box-shadow: inset #000000 40px 0 50px,
		inset #000000 -50px 0 50px; /* sombra nas laterais */
	z-index: 2;
	pointer-events: none; /* permite clicar nos elementos abaixo */
}

.faixa {
	display: flex;
	width: calc(500%); /* 2x pois duplicamos as imagens */
	animation: deslizar 60s linear infinite normal;
}

.faixa img {
	width: 20%;
	object-fit: cover;
}

@keyframes deslizar {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-180%);
	}
}


.container-etapas {
	margin-top: 100px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index: 1;
}

.etapas {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.etapa {
	display: flex;
	align-items: center;
	gap: 40px;

}

.etapas .txt2, .txt3, .txt4 {
  z-index: -1;
  /* position: absolute; */
  opacity: 0;
}

.etapa .txt2 {
	justify-content: space-between;
	transform: translateX(-500px);
	transition: all 20s ease-out;
}

.txt2.visivel {
  transition: all 80s ease-in;
	opacity: 1;
	transform: translateX(0);
}

.etapa .txt3 {
	justify-content: space-between;
	transform: translateX(-500px);
	transition: all 0.20s ease-out;
}

.etapa .txt4 {
	justify-content: space-between;
	transform: translateX(-500px);
	transition: all 0.20s ease-out;
}

.txt2.visivel {
  transition: all 0.80s ease-in;
	opacity: 1;
	transform: translateX(0);
}

.txt3.visivel {
  transition: all 0.80s ease-in;
	opacity: 1;
	transform: translateX(0);
}

.etapa .txt4 {
	justify-content: space-between;
	transform: translateX(-500px);
	transition: all 0.20s ease-out;
}

.txt4.visivel {
  transition: all 0.80s ease-in;
	opacity: 1;
	transform: translateX(0);
}

.etapa .texto-etapa {
	align-items: flex-start;
	justify-content: space-between;
	transform: translateX(-100px);
	transition: all 0.6s ease-out;
}

.texto-etapa.visivel {
	opacity: 1;
	transform: translateX(0);
}

.texto-etapa {
  font-family: "Poppins", sans-serif;
	
	/* background-color: #2c2c2c; */
	color: white;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	margin-top: 10px;
	width: 180px;
	height: 130px;
	border-radius: 5px;
	z-index: 1;
}

.texto-etapa h3,
p {
	margin: 10px;
	text-align: left;
}

.seta-etapas {
	display: flex;
	margin: 12px 0 0;
	z-index: 0;
}

.etapa .seta-etapas {
	justify-content: space-between;
	transform: translateX(-150px);
	transition: all 0.6s ease-out;
  opacity: 0;
}

.seta-etapas.visivel {
	opacity: 1;
	transform: translateX(0);
}
/*? ############# section ############# */